# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/backend/node_modules
/frontend/node_modules
/data
/backend/.env

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/query.js
.gitignore
.gitignore
backend/reconstructed_53ebd66f-800b-4d9e-8848-3716a16851b2_1755579904033.txt
Assignment-Full Stack Developer.pdf
frontend/bull-ai/.env
backend/test-recovery-api.js
backend/test-recovery.js
